
@{
    ViewData["Title"] = "IzmenaInfoUredjaj";
}

<h3>Izmena Info Uredjaj-a</h3>

<form method="post">
    <div class="form-group">
        <input type="text" placeholder="Izmenjeni naziv uredjaj-a.." name="Naziv" />
    </div>
    <button type="submit" class="btn btn-primary">Izmeni</button>
</form>