
@{
    ViewData["Title"] = "NoviUredjaj";
}

<h3>Novi Uredjaj</h3>

<hr/>

<form method="post">
    <div class="form-group">
        <input type="text" name="Naziv" placeholder="Naziv uredjaj-a"/>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>