
@{
    ViewData["Title"] = "IzmeniInfoKancelarije";
}

<h3>Izmeni Info Kancelarije</h3>

<br/>

<form method="post">
    <div class="form-group">
        <input type="text" placeholder="Novi opis kancelarije.." name="Opis" />
        <br />
    </div>
    <button type="submit" class="btn btn-primary">Izmeni</button>
</form>