
@{
    ViewData["Title"] = "NovaKancelarija";
}

<h3>Nova Kancelarija</h3>
<br/>
<form method="post">
    <div class="form-group">
        <input type="text" name="Opis" placeholder="Opis kancelarije.."/>
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>