
@{
    ViewData["Title"] = "IzmenaInfoOsobe";
}

<h3>Izmena Info Osobe</h3>

<form method="post">
    <div class="form-group">
        <input type="text" placeholder="Ime osobe.." name="Ime" /><br /><br />
        <input type="text" placeholder="Prezime osobe.." name="Prezime" /><br /><br />
        <input type="text" placeholder="Opis kancelarije.." name="Kancelarija.Opis" />
    </div>
    <button type="submit" class="btn btn-primary">Izmeni</button>
</form>