
@{
    ViewData["Title"] = "NovaOsoba";
}

<h3>Nova Osoba</h3>

<hr />

<form method="post">
    <div class="form-group">
        <input type="text" name="Ime" placeholder="Ime osobe.." /><br /><br />
        <input type="text" name="Prezime" placeholder="Prezime osobe.." /><br /><br />
        <input type="text" name="Kancelarija.Opis" placeholder="Opis kancelarije.." />
    </div>
    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>

