
@{
    ViewData["Title"] = "ObrisiOsobu";
}

<script>
    function VratiMe() {
        window.history.back();
    }
</script>

<h3>Obrisi Osobu?</h3>

<br />

<form method="post">
    <p>Sigurni ste da zelite da obrisete ovu osobu!?</p>
    <br />
    <button type="submit" class="btn btn-danger">Da</button>
</form>
<button onclick="VratiMe()" class="btn btn-primary">Ne</button>